html {
    box-sizing: border-box;
}

body {
    margin: 10px auto;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    margin: 0 12px;
    padding: 8px;
    height: 100px;
    width: 100px;
}

.score {
    font-size: 32px;
    font-weight: bold;
}

.results {
    font-size: 22px;
}